.main-nav {
    opacity: 1;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    background-color: $backgroundClr;
    height: 100%;
    padding: 30px 0px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;

    img {
        height: 50px;
        width: 50px;
    }
}

.right-nav {
    display: none;
    @include for-narrow-layout {
        display: flex;
    }
    
    align-items: center;
    a {
        font-family: Roboto;
        color: $primaryClr;
        font-size: 1.2rem;
        margin-right: 10px;
        cursor: pointer;

        &:last-child {
            margin-right: 0px;
        }
    }
    .resume {
        color: white;
        font-size: 1.3rem;
        padding: 2px 6px;
        border-radius: 5px;
        margin-left: 5px;
        border: 1px solid white;
        &:hover {
            animation: fill-btn 0.3s linear forwards;
        }
        @keyframes fill-btn {
            to {
                background-color: $primaryClr;
                color: black;
                border: 1px solid transparent;
            }
        }
    }
}

.left-nav {
    svg {
        display: block;
        width: 60px;
        height: 60px;
    }
    display: flex;
    .toggle-btn {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .cf-container {
        .cf {
            margin-top: -3px;
            font-size: 18px;
            color: $primaryClr;
            justify-content: space-between;
            line-height: 0.6;
            padding: 0 13px;
        }
    }
}
.menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    fill: white;
    padding-right: 10px;
    cursor: pointer;
    @include for-narrow-layout {
        display: none;
    }
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $backgroundClr;
    z-index: 20;
    position: fixed;
    width: 100vw;
    padding: 0 16px;
    animation: nav-animatin ease-in 0.5s forwards;

    @include for-narrow-layout {
        display: none;
    }
    a {
        color: white;
        width: 100vw;
        text-align: center;
        font-size: 2rem;
        padding: 10px;
        border-bottom: 1px solid rgba(128, 128, 128, 0.256);
        &:hover {
            background-color: gray;
        }
        &:first-of-type {
            margin-top: 10px;
        }
    }
    img {
        margin-top: 20px;
        align-self: center;
        height: 100px;
        width: 100px;
    }
}

@keyframes nav-animatin {
    0% {
        top: -350px;
    }
    100% {
        top: 100px;
    }
}
