.main-nav {
    // position: sticky;
    z-index: 2;
    display: flex;
    background-color: #3b404f00;
    height: 10vh;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;

    img {
        height: 40px;
        width: 40px;
    }
    @include for-mobile-layout {
        // padding: 10px 10px;
    }
}
.right-nav {
    display: flex;
    
    a {
        // font-family: SFMono;
        color: $primaryClr;
        font-size: 1.2rem;
        margin-right: 10px;
        
        &:last-child{
            margin-right: 0px;
        }
    }

    // @include for-mobile-layout {
    //     display: none;
    // }
}

.left-nav {
    h1 {
        display: none;
        width: 50px;
        height: 50px;
        color: white;
        line-height: 1;
        font-size: 3rem;
        // border: 1px solid white;
        padding: 10px 0;
        // border-radius: 50%;
    }
    display: flex;
    .toggle-btn {
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .cf-container {
        .cf {
            margin-top: -3px;
            font-size: 18px;
            color: $primaryClr;
            justify-content: space-between;
            line-height: 0.6;
            padding: 0 13px;
        }
    }
}
.menu-btn {
    display: none;
    @include for-mobile-layout {
        display: block;
    }
}

// .mobile-nav {
//     display: flex;
//     flex-direction: column;
//     background-color: black;
//     z-index: 20;
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     padding: 0 16px;
//     animation: nav-animatin 0.5s;

//     a {
//         color: white;
//         font-size: 2rem;
//         padding: 10px;
//         &:hover {
//             background-color: gray;
//         }
//         &:first-of-type {
//             margin-top: 10px;
//         }
//     }
//     img {
//         margin-top: 20px;
//         align-self: center;
//         height: 100px;
//         width: 100px;
//     }
// }

// @keyframes nav-animatin {
//     0% {
//         left: -100px;
//     }
//     100% {
//         left: 0;
//     }
// }

// .background-menu {
//     position: fixed;
//     background-color: rgba(0, 0, 0, 0.7);
//     top: 0;
//     left: 0;
//     height: 100vh;
//     width: 100vw;
//     z-index: 10;
// }
