.projects-container {
    height: 100%;
    width: 100%;
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-columns: 1fr ;

    :nth-child(2n){

        justify-self: flex-end;
    }

}

