.projects-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    :nth-child(2n) {
        @include for-narrow-layout {
            justify-self: center;
        }
        @include for-wide-layout {
            justify-self: flex-end;
        }
    }
}
