@font-face {
    font-family: Rubick;
    src: url(../../fonts/Rubick/Rubik-Regular.ttf);

}
@font-face {
    font-family: SFMono;
    src: url(../../fonts/SFMono/SFMonoRegular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}