//HELPERS

.text-center {
  text-align: center;
}

.flex {
  display: flex;

  > *.full {
    flex: 1;
  }

  &.column {
    flex-direction: column;
  }

  &.end {
    justify-content: flex-end;
  }
  &.start {
    justify-content: flex-start;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-evenly {
    justify-content: space-evenly;
  }
}

.fill-dark {
  fill: #959699;
}

.dark {
  background-color: #18191b;
  color: #959699;
  &-text {
    color: #ffffff;
    font-weight: bold;
  }
  .bold {
    color: rgb(255, 255, 255);
  }
}
.red {
  fill: red;
  color: red;
}

.weather-by-hour {
  max-width: 88vw;
  @include for-normal-layout {
    max-width: 93vw;
  }
  height: 20vh;
}

.underline {
  border-bottom: #fff 2px solid;
}

.shadow {
  // box-shadow: 0px 1px 1px 0px;
  opacity: 0 !important;
  // padding-bottom: 10px !important;
}

.hidden {
  display: none !important;
}
.select {
  user-select: none;
  background: none;
  background-color: none;
  color: none;
  -webkit-tap-highlight-color: transparent;
}

.light {
  background-color: #fff;
  color: #4c5055;
}

.opacity {
  animation: transition-animation ease-in 1s forwards;

  @keyframes transition-animation {
    from {
      margin-inline-start: -20px;
      transform: translateY(50px);
    }
    to {
      transform: translateY(0px);
      margin-inline-start: 0px;
      opacity: 1;
      left: 0;
    }
  }
}
.skill-animation {
  animation: skill-animation-animation ease-in 1s forwards;

  @keyframes skill-animation-animation {
    from {
      transform: translateY(50px);
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

// Font Sizes
.fs12 {
  font-size: rem(12px);
}

.fs14 {
  font-size: rem(14px);
}

.fs18 {
  font-size: rem(18px);
}

.fs20 {
  font-size: rem(20px);
}

.fs24 {
  font-size: rem(24px);
}

.fs28 {
  font-size: rem(28px);
}

.fs30 {
  font-size: rem(30px);
}

.light {
  color: black;
  background-color: white;
}

.dark {
  background-color: black;
  color: white;
}

.fade {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms;
}
