$mobile-breakpoint: 460px;
$narrow-breakpoint: 840px;
$normal-breakpoint: 1300px;

// $primaryClr: #d37f30;
$backgroundClr:#232324;
$primaryClr: #51c7b3;
// $backgroundClr: #0a192f;
$seconderyyClr: #dadce4;
$black: #121212;
